:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #26272b;
  color: whitesmoke;
  min-width: 320px;
  min-height: 100vh;
}
a {
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin: 1;
}
